
  body{
    background:url("foto.jpg");
    background-size:100%;
    

  }
  img {
    width: 400px;
    float: left;
  }


.columns{
  width: 495px;
  display:inline-block;
  
}

  .four{
    width: 300px;
    display: inline-block;
    border: 1px solid purple;
    background-color: #692e60;
  
 
}

#container{
width: 1000px;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
}

h1{
  text-align: center;
font-family: cursive;
font-size:40px;
color:#3069B3;

}
  h2{
    text-align:center;
    font-family:fantasy;
    font-size:40px;
    color:#3069B3;
  }
  
  h3{
    text-align:center;
    font-family:fantasy;
    font-size:40;
    color:#322787;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}
.button {
  background-color: #008CBA; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left:440px;
}


.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left:200px;
}

.social-buttons a:before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#22a6b3,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

 {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #275F87;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}




a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.previous {
  background-color: #008CBA;
  color: black;
    margin:70px;

}

.next {
  background-color: #008CBA;
  color: black;
  margin:100px;
}


